.title_menu {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  align-items: center;
}
.menu_stuff {
  background: #202023;
  padding: 21px 0 163px;
}

.menu_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 860px;
  margin: 0 auto;
  row-gap: 7px;
  gap: 10px 160px;
}
.menu_order_btn {
  width: 160px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 17px;
  background: #b47b48;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  color: #fff;
  font-family: Inter;
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
 
}
.menu_named {
  color: #fff;
  font-family: Inter;
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin: 0 auto;
}
.menu_box {
  border: 1px solid #fff;
  width: 328px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 234px;
}
.menu_img > img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
.menu_img {
  height: 200px;
}
.menu_list > li {
  gap: 198px;
}
