li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.overlay {
    background: linear-gradient(66deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  

}
.scroll-to-top {
    width: 80px;
    height: 80px;
    background-color: antiquewhite;
    color: black;
    font-size: 20px;
    border-radius: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
  
  }
  .scroll-to-top i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }

  .text-to-top {
    display: none;
  }
  .scroll-to-top:hover {
    background-color: rgb(168, 152, 152);
    transition: 0.5s all;
  
  }
  .scroll-to-top:hover .text-to-top {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
  }

